Language:        Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Left
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: NextLine
SpaceBeforeCtorInitializerColon: true
